.MatchDetailCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 10px 10px 10px;

  .vs,
  .match-date,
  .match-venue,
  .match-result {
    margin-top: 10px;
  }
  .right-details {
    text-align: right;
    & > p {
      margin-bottom: 10px;
    }
  }
}
